.tile{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 75px;
  height: 75px;
}

.tile.dark{
  background-color: #613d3d;
}

.tile.light{
  background-color: #f3ddce;
}

.tile.move{
  background-color: #00aeff;
  box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.65);
}

.tile.has-piece.move{
  background-color: #ff3d2f;
}

.tile.selected{
  background-color: green;
}

.tile.has-piece:hover{
  background-color: gold;
}

.tile.selected:hover{
  background-color: green;
}

.tile.move:hover{
  background-color: #00aeff;
  cursor: pointer;
}

.tile.has-piece.move:hover{
  background-color: #ff3d2f;
}

.top-left-rounded{
  border-top-left-radius: 10px;
}

.top-right-rounded{
  border-top-right-radius: 10px;
}

.bottom-left-rounded{
  border-bottom-left-radius: 10px;
}

.bottom-right-rounded{
  border-bottom-right-radius: 10px;
}

.has-piece:hover{
  cursor: pointer;
}