.tile{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 75px;
  height: 75px;
}

.tile.dark{
  background-color: #613d3d;
}

.tile.light{
  background-color: #f3ddce;
}

.top-left-rounded{
  border-top-left-radius: 10px;
}

.top-right-rounded{
  border-top-right-radius: 10px;
}

.bottom-left-rounded{
  border-bottom-left-radius: 10px;
}

.bottom-right-rounded{
  border-bottom-right-radius: 10px;
}

.has-piece:hover{
  cursor: pointer;
}